@model FlairTickets.Web.Models.IndexViewModels.AirplanesIndexViewModel

@{
    ViewData["Title"] = "Airplanes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-square-plus"></i> New Airplane</a>
</p>

<form id="SearchForm" method="GET">
    <div class="row" style="margin: 8px; border: 2px solid gray; border-radius: 2px; padding: 12px; background-color: rgba(63, 191, 255, 0.1);">

        <!-- Airplane Model -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.Model" class="control-label"></label>
            <input asp-for="SearchModel.Model" name="Model" class="form-control" />
        </div>

        <!-- Name of the Airplane -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.Name" class="control-label"></label>
            <input asp-for="SearchModel.Name" name="Name" class="form-control" />
        </div>

        <!-- Clear all __ See flights -->
        <div class="row form-group" style="margin: auto">
            <span onclick="$(this).closest('form').find('input').val('');" class="btn btn-light border"><i class="fa fa-eraser"></i> Clear all</span>
            <button class="btn btn-primary"><i class="fa fa-search"></i> See airplanes</button>
        </div>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><!-- icon --></th>
            <th>
                @Html.DisplayNameFor(model => model.SearchModel.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchModel.Seats)
            </th>
            <th><!-- actions --></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Airplanes) {
        <tr>
            <td><i class="fa fa-plane-up"></i></td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_RemoveUnusedInputsFromSearchUrl");
    }
}