@model FlairTickets.Web.Models.IndexViewModels.EmployeesIndexViewModel

@{
    ViewData["Title"] = "Employees";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-user-plus"></i> Add Employee</a>
</p>

<form id="SearchForm" method="GET">
    <div class="row" style="margin: 8px; border: 2px solid gray; border-radius: 2px; padding: 12px; background-color: rgba(63, 191, 255, 0.1);">

        <!-- Chosen name -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.ChosenName" class="control-label"></label>
            <input asp-for="SearchModel.ChosenName" name="ChosenName" class="form-control" />
        </div>

        <!-- Full Name -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.FullName" class="control-label"></label>
            <input asp-for="SearchModel.FullName" name="FullName" class="form-control" />
        </div>

        <!-- Email -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.Email" class="control-label"></label>
            <input asp-for="SearchModel.Email" name="Email" class="form-control" />
        </div>

        <!-- PhoneNumber -->
        <div class="form-group col-md-3">
            <label asp-for="SearchModel.PhoneNumber" class="control-label"></label>
            <input asp-for="SearchModel.PhoneNumber" name="PhoneNumber" class="form-control" />
        </div>

        <!-- Clear all __ See employees  -->
        <div class="form-group" style="margin: auto">
            <span onclick="$(this).closest('form').find('input').val('');" class="btn btn-light border"><i class="fa fa-eraser"></i> Clear all</span>
            <button class="btn btn-primary"><i class="fa fa-search"></i> See employees</button>
        </div>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><!-- icon --></th>
            <th>Chosen name</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Email confirmed?</th>
            <th><!-- actions --></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td><i class="fa fa-user"></i></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChosenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <i class="fa @(item.EmailConfirmed ? "fa-user-check" : "fa-user-xmark")"></i>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-address-card"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-user-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-user-minus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_RemoveUnusedInputsFromSearchUrl");
    }
}