@model FlairTickets.Web.Models.Ticket.DisplayTicketViewModel

<div class="row">
    
    <div class="col-md-8">
        <h4><i class="fa fa-plane"></i> Flight</h4>
        <hr />
        <partial name="/Views/Flights/_Display.cshtml" for="@Model.FlightDisplay" />
    </div>

    <div class="col-md-4">

        <!-- Customer -->
        <h4><i class="fa fa-user"></i> User</h4>
        <hr />
        <p>@Model.UserChosenName<br />@Model.UserEmail</p>
        
        <hr />

        <h4><i class="fa fa-edit"></i> Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Seat)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Seat)
            </dd>
        </dl>
    </div>
</div>