@model IEnumerable<FlairTickets.Web.Models.Ticket.IndexRowTicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<h1>@((User.IsInRole("Customer") ? $"My " : string.Empty) + ViewData["Title"])</h1>

<p>
    <a asp-controller="Home" class="btn btn-info"><i class="fa fa-search"></i> Search flights</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><!-- icon --></th>
            <th><i class="fa fa-calendar-days"></i> Day</th>
            <th><i class="fa fa-clock"></i> Hour</th>
            <th><i class="fa fa-plane-departure"></i> Origin</th>
            <th><i class="fa fa-plane-arrival"></i> Destination</th>
            <th><i class="fa fa-circle-info"></i> Flight</th>
            <th><i class="fa fa-edit"></i> Seat</th>
            <th><!-- actions --></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><i class="fa @(item.IsPast ? "fa-calendar-check" : "fa-plane-up")"></i></td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-list"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary @(item.IsEditable ? "" : "disabled")"><i class="fa fa-edit"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger @(item.IsDeletable ? "" : "disabled")"><i class="fa fa-xmark"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
