@model IEnumerable<FlairTickets.Web.Models.Flight.IndexRowFlightViewModel>

<table class="table">
    <thead>
        <tr>
            <th><!-- icon --></th>
            <th><i class="fa fa-calendar-days"></i> Date</th>
            <th><i class="fa fa-clock"></i> Time</th>
            <th><i class="fa fa-circle-info"></i> Flight</th>
            <th><i class="fa fa-plane-departure"></i> Origin</th>
            <th><i class="fa fa-plane-arrival"></i> Destination</th>
            <th><!-- actions --></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-plane"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    <img src="https://flagsapi.com/@(item.OriginCountryCode2Letters)/shiny/32.png">
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    <img src="https://flagsapi.com/@(item.DestinationCountryCode2Letters)/shiny/32.png">
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    <a href="/Flights/Details/@item.FlightId" class="btn btn-success">See flight</a>
                </td>
            </tr>
        }
    </tbody>
</table>
