@model FlairTickets.Web.Models.Flight.IndexFlightViewModel

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th><!--CompanyLogo--></th>
            <th>Flight</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Av.</th>
            <th><!--Options--></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <img src="none@*@Html.DisplayFor(modelItem => item.ImageFullPath)*@" style="max-width:32px;max-height:32px;">
                </td>
                <td>
                    <a href="/Flights/Details/@item.FlightId">@Html.DisplayFor(modelItem => item.FlightNumber)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FlightId" class="btn btn-info"><i class="fa fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.FlightId" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
