@model IEnumerable<FlairTickets.Web.Models.Flight.IndexRowFlightViewModel>

<table class="table">
    <thead>
        <tr>
            <th><!--icon--></th>
            <th><i class="fa fa-calendar-days"></i> Date</th>
            <th><i class="fa fa-clock"></i> Time</th>
            <th><i class="fa fa-circle-info"></i> Flight</th>
            <th><i class="fa fa-plane-departure"></i> Origin</th>
            <th><i class="fa fa-plane-arrival"></i> Destination</th>
            <th><!--Options--></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fa fa-plane"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.FlightId" class="btn btn-success"><i class="fa fa-list"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.FlightId" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.FlightId" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
